<button class="btn btn-primary" id="add-person">Add Person</button>
<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        <tr>
            
           
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="modal fade" id="add-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Person</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-label">First Name</label>
                    <input class="form-control" id="firstName" placeholder="First Name" type="text">
                </div>
                <div class="form-group mt-3">
                    <label class="form-label">Last Name</label>
                    <input type="text" id="lastName" class="form-control" placeholder="Last Name">
                </div>
                <div class="form-group mt-3">
                    <label class="form-label">Age</label>
                    <input type="text" id="age" class="form-control" placeholder="Age">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" id="save-add">Save</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Person</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-label">First Name</label>
                    <input class="form-control" id="editfirstName" placeholder="First Name" type="text">
                </div>
                <div class="form-group mt-3">
                    <label class="form-label">Last Name</label>
                    <input type="text" id="editlastName" class="form-control" placeholder="Last Name">
                </div>
                <div class="form-group mt-3">
                    <label class="form-label">Age</label>
                    <input type="text" id="editage" class="form-control" placeholder="Age">
                </div>
                <div class="form-group mt-3">                  
                    <input type="hidden" id="editId" class="form-control">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" id="save-edit">Save</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section scripts {
    <script src="~/js/javascript.js"></script>
}